<table class="tracking__table">
    <thead>
        <tr>
            <!-- <th><input type="checkbox" class="check__all"></th> -->
            <th>Código</th>
            <th>Descrição</th>
            <!-- <th>Transportadora</th> -->
            <th>Data de Saída</th>
            <th>Quantidade</th>            
            <th>PIN</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products">

            <!-- <th><input type="checkbox" id="{{prod.id}}"></th> -->
            <td>{{prod.factory_code}}</td>
            <!-- <td>{{prod.emissionNf | date: 'dd/MM/yyyy'}}</td> -->
            <td>{{prod.description}}</td>
            <!-- <td>{{prod.arrival_forecast | date: 'dd/MM/yyyy'}}</td> -->
            <!-- <td>{{prod.date_out | date: 'dd/MM/yyyy'}}</td>             -->
            <!-- <td>{{prod.pin_release | date: 'dd/MM/yyyy'}}</td> -->
            <td>{{prod.brand}}</td>
            <td>{{prod.amount}}</td>
            <td>{{prod.price}}</td>
        </tr>
    </tbody>
</table>