<div class="main_details">
    <div class="header_details">
        <div class="supplier">INTELBRAS</div>
        <div class="nfe">
            <P>Nº: 202020</P>
            <P>Série: 01</P>
        </div>
        <div class="date">
            <p>Emissão: 10/01/2023</p>
            <p>PIN: 10/01/2023</p>
        </div>
    </div>
    <p class="nfe_type">Dinamico conforme nota</p>
    <p class="itens_title">Itens:</p>
    <div>
        <table class="product_details">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Qtd.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>4565289</th>
                    <th>MHDX 1108 - c</th>
                    <th>20</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>