<div (scroll)="onScroll()" class="container">
  <table class="transport__table">
    <thead>
      <tr>
        <th><input type="checkbox" class="check__all" (change)="toggleAllCheckboxes()"></th>
        <th>NFe</th>
        <th>Emissão da NF</th>
        <th>Transportadora</th>
        <th>Data de Saída</th>
        <th>Previsão de Chegada</th>
        <th>PIN</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let group of displayedGroupedLogistics">
        <!-- Change this div to tr after adding colors to each company -->
        <div class="week__range" *ngIf="group.logistics.length > 0">
          <th [colSpan]="8">
            <h2 *ngIf="group.initial !== group.final; else elseBlock"> {{(group.initial | date:'dd/MM/yyyy' : 'UTC-00')+ " ~ " + (group.final|date:'dd/MM/yyyy' : 'UTC-00')}}</h2>
            <ng-template #elseBlock>
              <h2> Atualize a previsão de chegada</h2>
            </ng-template>
          </th>
        </div>
        <tr *ngFor="let logis of group.logistics">
          <th><input type="checkbox" (click)="toggleSelection(logis, $event)" id="{{logis._id}}" #checkBoxes></th>
          <td (click)="openSidebar(logis)">{{logis.nfe}}</td>
          <td (click)="openSidebar(logis)">{{logis.emission_date | date:'dd/MM/yyyy' : 'UTC-00'}}</td>
          <td (click)="openSidebar(logis)">{{logis.transporter.name}}</td>
          <td (click)="openSidebar(logis)">{{logis.date_out | date:'dd/MM/yyyy' : 'UTC-00'}}</td>
          <td (click)="openSidebar(logis)">{{logis.arrival_forecast | date:'dd/MM/yyyy' : 'UTC-00'}}</td>
          <td (click)="openSidebar(logis)">{{logis.pin_release | date:'dd/MM/yyyy' : 'UTC-00'}}</td>
          <td (click)="openSidebar(logis)">{{logis.status}}</td>
        </tr>
      </ng-container>
      <tr *ngIf="loadingData">
        <td [attr.colspan]="8" class="loading-spinner">
          <div [attr.colspan]="8" class="spinner"></div>
          <div class="loading">Carregando...</div>

        </td>
      </tr>
    </tbody>

  </table>
</div>


<div>
  <div class="side__menu">
    <div (click)="closeSidebar()" class="{{background}}"></div>
    <app-details class="{{details}}"></app-details>
  </div>
</div>