<div (window:scroll)="onScroll()">
  <table class="transport__table">
    <thead>
      <tr>
        <th><input type="checkbox" class="check__all" (change)="toggleAllCheckboxes()"></th>
        <th>NFe</th>
        <th>Emissão da NF</th>
        <th>Transportadora</th>
        <th>Data de Saída</th>
        <th>Previsão de Chegada</th>
        <th>PIN</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let logis of displayedLogistics">
        <th><input type="checkbox" (click)="toggleSelection(logis, $event)" id="{{logis._id}}" #checkBoxes></th>
        <td (click)="openSidebar(logis)">{{logis.nfe}}</td>
        <td (click)="openSidebar(logis)">{{logis.emissionNf | date:'dd/MM/yyyy' : 'UTC-00'}}</td>
        <td (click)="openSidebar(logis)">{{logis.shipping_company}}</td>
        <td (click)="openSidebar(logis)">{{logis.date_out | date:'dd/MM/yyyy' : 'UTC-00'}}</td>
        <td (click)="openSidebar(logis)">{{logis.arrival_forecast | date:'dd/MM/yyyy' : 'UTC-00'}}</td>
        <td (click)="openSidebar(logis)">{{logis.pin_release | date:'dd/MM/yyyy' : 'UTC-00'}}</td>
        <td (click)="openSidebar(logis)">{{logis.status}}</td>
      </tr>
      <tr *ngIf="loadingData">
        <td [attr.colspan]="8" class="loading-spinner">
          <div [attr.colspan]="8" class="spinner"></div>
          <div class="loading">Loading...</div>

        </td>
      </tr>
    </tbody>
  </table>
</div>


<div>
  <div class="side__menu">
    <div (click)="closeSidebar()" class="{{background}}"></div>
    <app-details class="{{details}}"></app-details>
  </div>
</div>