<div class="app_container">
  <header class="navbar">
    <mat-icon class="hamburger_menu" (click)="showNavMenu()">reorder</mat-icon>
    <ul id="navbarMenu" class="navbar__menu" #navbarMenu>
      <div class="menu_header">Acesso rápido</div>
      <li class="menu__item category">Páginas principais</li>
      <!-- <li routerLink="productsTracking" class="menu__item" (click)="closeMenu()">Home</li> -->
      <li routerLink="tracking" class="menu__item" (click)="closeMenu()">Rastrear</li>
      <li routerLink="registration" class="menu__item" (click)="closeMenu()">Pedido</li>
      <li routerLink="delivered" class="menu__item" (click)="closeMenu()">Entregues</li>
    </ul>
  </header>
  <div *ngIf="showMenu" class="black-window" (click)="showNavMenu()"></div>


  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>&copy; 2019 Gabriel Machado</p>
  </footer>
</div>