@import "./shared/styles/slideEffect.less";
@import "./shared//styles//colors.less";

.navbar {
  .navbar__menu {
    display: flex;
    justify-content: center;

    margin: 0.5rem;

    .menu__item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 7rem;
      height: 1.7rem;

      margin: 0.5rem auto;

      border: 1px solid;
      border-radius: 5px;

      cursor: pointer;
      .slide_right(@color: @font-default-black, @background-color: @background-default-black, @hover-color: @font-default-white);
    }
  }
}
main {
  display: flex;
  justify-content: center;

  margin: 0.5rem auto;

  min-height: 85vh;
  min-width: 80vw;
}
