<table class="tracking__table">
    <thead>
        <tr>
            <th><input type="checkbox" class="check__all"></th>
            <th>NFe</th>
            <th>Emissão da NF</th>
            <th>Transportadora</th>
            <th>Data de Saída</th>
            <th>Previsão de Chegada</th>            
            <th>PIN</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let logis of logistics">

            <th><input type="checkbox" id="{{logis.id}}"></th>
            <td>{{logis.nfe}}</td>
            <td>{{logis.emissionNf | date: 'dd/MM/yyyy'}}</td>
            <td>{{logis.shipping_company}}</td>
            <td>{{logis.arrival_forecast | date: 'dd/MM/yyyy'}}</td>
            <td>{{logis.date_out | date: 'dd/MM/yyyy'}}</td>            
            <td>{{logis.pin_release | date: 'dd/MM/yyyy'}}</td>
            <td>{{logis.status}}</td>
        </tr>
    </tbody>
</table>