@import "../../shared/styles/colors.less";
@import "../../shared/styles/slideEffect.less";
@import "../../shared/styles/animations.less";

.registration {
  background: @background-default-white;
  padding: 2%;
  padding-left: 3%;
  margin-left: 3rem;
  border-radius: 2%;
  width: 80vw;
  max-width: 1050px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80vw;
  max-width: 1050px;

  .input-container {
    display: flex;
    height: 20rem;
    width: 40rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: 2px dashed black;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        margin: 0.7rem;
        font-size: x-large;
      }

      span:nth-child(3) {
        color: @background-sidebar-body;
        background-color: @background-sidebar-header;
        padding: 0.7rem;
        border-radius: 0.3rem;
        cursor: pointer;
      }
    }

    input {
      display: none;
    }
  }

  .input-container--over {
    border-style: solid;
  }
}

.xml-data {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .infor-nf {
    border-radius: 5px;
    border: 1px solid black;

    .treeColls {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      div:not(:last-child) {
        border-right: 1px solid black;
      }

      div {
        display: flex;
        align-items: center;
        padding: 5px;
      }

      p {
        margin: 1.5rem 0 0 0;
      }

      #picker-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .colors {
          position: relative;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: none;

          span {
            position: relative;
            width: 20px;
            height: 30px;
            border-radius: 20px;
            margin: 5px 8px;
            cursor: pointer;

            &.active {
              &::before {
                top: 0;
                opacity: 1;
                scale: 1.15;
                box-shadow: 0 0 10px var(--clr), 0 0 20px var(--clr), 0 0 50px var(--clr);
              }
            }

            &::before {
              top: 13px;
              content: "";
              position: absolute;
              left: 0;
              width: 20px;
              height: 20px;
              background: var(--clr);
              border-radius: 20px;
              transition: 0.5s;
              scale: 0.8;

              &:hover {
                left: 10px;
                opacity: 1;
                scale: 1;
              }
            }
          }
        }

        .input-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;

          .box {
            caret-color: transparent;
            cursor: pointer;
            position: relative;
            width: 30px;
            height: 30px;
            background: #28292b;
            border-radius: 10px;
            transition: 0.5s;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
            border: 1px solid black;
          }

          mat-icon {
            position: absolute;
            color: white;
            pointer-events: none;
          }
        }
      }
    }

    .picker-section {
      display: flex;
      flex-direction: row;

      p {
        margin: auto 0;
      }
      #picker-container {
        display: flex;
        // align-items: flex-end;
        // justify-content: flex-end;

        .colors {
          position: relative;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: none;

          span {
            position: relative;
            width: 20px;
            height: 30px;
            border-radius: 20px;
            margin: 5px 8px;
            cursor: pointer;

            &.active {
              &::before {
                top: 0;
                opacity: 1;
                scale: 1.15;
                box-shadow: 0 0 10px var(--clr), 0 0 10px var(--clr), 0 0 10px var(--clr);
              }
            }

            &::before {
              top: 13px;
              content: "";
              position: absolute;
              left: 0;
              width: 20px;
              height: 20px;
              background: var(--clr);
              border-radius: 20px;
              transition: 0.5s;
              scale: 0.8;

              &:hover {
                left: 10px;
                opacity: 1;
                scale: 1;
              }
            }
          }
        }

        .input-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;

          .box {
            caret-color: transparent;
            cursor: pointer;
            position: relative;
            width: 30px;
            height: 30px;
            background: #28292b;
            border-radius: 10px;
            transition: 0.5s;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
            border: 1px solid black;
          }

          mat-icon {
            position: absolute;
            color: white;
            pointer-events: none;
          }
        }
      }
    }

    .treeColls:not(:last-child) {
      border-bottom: 1px solid black;

      div:not(:last-child) {
        border-right: 1px solid black;
      }

      div {
        display: flex;
        align-items: center;
        padding: 5px;
      }
    }

    .fourColls {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      div:not(:last-child) {
        border-right: 1px solid black;
      }

      div {
        display: flex;
        align-items: center;
        padding: 5px;
      }
    }

    .products:first-child {
      border-top: 1px solid black;
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr 2fr 2fr;

      div {
        padding: 7px;
      }

      div:not(:last-child) {
        border-right: 1px solid black;
      }
    }

    .products:not(:last-child) {
      border-bottom: 1px solid black;
    }
  }

  .save-button {
    justify-self: center;
    margin: 1rem 0;

    appearance: none;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }

  .save-button:disabled {
    pointer-events: none;
  }

  .save-button:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .save-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .page-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    background: #30303044;
    height: 100%;
    top: 0;
    right: 0;
  }
}