@import "../../shared/styles/colors.less";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80vw;
}

.input-container {
  display: flex;
  height: 20rem;
  width: 40rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  border: 2px dashed black;

  label{
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
      margin: .7rem;
      font-size: x-large;
    }
    span:nth-child(3){
      color: @background-sidebar-body;
      background-color: @background-sidebar-header;
      padding: .7rem;
      border-radius: .3rem;
      cursor: pointer;
    }
  }
  input {
    display: none;
  }
}
.input-container--over{
  border-style: solid;
}



section {
  display: grid;
  border: 1px solid black;

}

.towColls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
}

.treeColls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
}

.fourColls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
}

.products {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 2fr 2fr;

  border: 1px solid black;

  div {
    border-right: 1px solid black;
    padding: 7px;
  }

  div:last-child {
    border-right: none;
  }
}