<div *ngIf="!xmlData" class="container">
  <div  class="input-container" #inputContainer (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onFileChangeOrDrop($event)">
    <label for="xmlFile">
      <span>Solte aqui o arquivo XML</span>
      <span>ou click para</span>
      <span>Procurar</span>
    </label>
    <input id="xmlFile" type="file" (change)="onFileChangeOrDrop($event)" text="Selecione" />
  </div>
</div>

<div *ngIf="xmlData">

  <section>
    <div class="treeColls">
      <div> NF-e: {{nfNumber}}</div>
      <div>Natureza da Operação: {{nature}}</div>
      <div>Data de emissão: {{issueDate | date: 'dd/MM/yyyy'}}</div>
    </div>
    <div class="treeColls">
      <div>Fornecedor: {{provider}}</div>
      <div>UF: {{ufProvider}}</div>
      <div>CNPJ: {{cnpjProvider}}</div>
    </div>
    <div class="treeColls">
      <div>Destinatário: {{receiver}}</div>
      <div>UF: {{ufReceiver}}</div>
      <div>CNPJ: {{cnpjReceiver}}</div>
    </div>
  </section>
  <section class="fourColls">
    <div>Frete: {{freightValue}}</div>
    <div>Desconto: {{discount}}</div>
    <div>Valor total dos produtos: {{totalProdValue}}</div>
    <div>Valor total da nota: {{totalNf}}</div>
  </section>
  <section class="treeColls">
    <div>Transportador: {{conveyor}}</div>
    <div>Volumes: {{packages}}</div>
    <div>Frete por conta: {{freightPaidBy}}</div>
  </section>
  <section>Dados dos produtos:
    <div class="products">
      <div>Código</div>
      <div>Descrição: </div>
      <div>Qtd.:</div>
      <div>Valor unit.:</div>
      <div>Valor total:</div>
    </div>
    <div *ngFor="let prod of products" class="products">
      <div>{{findKey(prod,"CPROD")}}</div>
      <div>{{findKey(prod, "XPROD")}}</div>
      <div>{{findKey(prod, "QCOM")}}</div>
      <div>{{findKey(prod, "VUNCOM")}}</div>
      <div>{{findKey(prod, "VPROD")}}</div>
    </div>
  </section>
  <button>Salvar</button>
</div>