<table class="tracking__table">
    <thead>
        <tr>
            <th><input type="checkbox" class="check__all"></th>
            <th>NFe</th>
            <th>Emissão da NF</th>
            <th>Transportadora</th>
            <th>Data de Saída</th>
            <th>Previsão de Chegada</th>
            <th>PIN</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let logis of logistics">
            <th><input type="checkbox" [checked]="isSelected(logis)" (change)="toggleSelection(logis)" id="{{logis._id}}"></th>
            <td (click)="openSidebar(logis)">{{logis.nfe}}</td>
            <td (click)="openSidebar(logis)">{{logis.emissionNf | date: 'dd/MM/yyyy'}}</td>
            <td (click)="openSidebar(logis)">{{logis.shipping_company}}</td>
            <td (click)="openSidebar(logis)">{{logis.arrival_forecast | date: 'dd/MM/yyyy'}}</td>
            <td (click)="openSidebar(logis)">{{logis.date_out | date: 'dd/MM/yyyy'}}</td>
            <td (click)="openSidebar(logis)">{{logis.pin_release | date: 'dd/MM/yyyy'}}</td>
            <td (click)="openSidebar(logis)">{{logis.status}}</td>
        </tr>
    </tbody>
</table>
<div>
    <div class="side__menu">
        <div (click)="closeSidebar()" class="{{backgrond}}"></div>
        <app-details class="{{details}}"></app-details>
    </div>
</div>