<div class="home__container">
    <h2>Deck Card</h2>
    <div class="cards__container">
        <div class="card" *ngFor="let products of productsArray; let i = index" #productCards (click)="swapCards(i)">
            <div class="product" *ngFor="let product of products; let lastChild = last;"
                [@cardAnimation]="lastChild ? cardStates[i] : ''" (@cardAnimation.done)="onAnimationEnd($event, i)">
                <p><strong>NFE: </strong> {{product.factory_code}}</p>
                <p><strong>Marca: </strong> {{product.brand}}</p>
                <p><strong>Qte: </strong> {{product.amount}}</p>
                <p><strong>Preço: </strong> {{product.price}}</p>
                <p><strong>Descrição: </strong> {{product.description}}</p>
            </div>
        </div>
    </div>
</div>