<div class="home__container">
    <h2>Deck Card</h2>
    <div class="cards__container">
        <div class="card" *ngFor="let products of productsArray" #productCards>
            <div class="product" *ngFor="let product of products">
                <p><strong>NFE: </strong> {{product.factory_code}}</p>
                <p><strong>Marca: </strong> {{product.brand}}</p>
                <p><strong>Qte: </strong> {{product.amount}}</p>
                <p><strong>Preço: </strong> {{product.price}}</p>
                <p><strong>Descrição: </strong> {{product.description}}</p>
            </div>
        </div>
    </div>
</div>